=begin
#Klaviyo API (Beta)

#The Klaviyo REST API. Please visit https://developers.klaviyo.com for more details.

The version of the OpenAPI document: 2023-05-25.pre
Contact: developers@klaviyo.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.0

=end

require 'cgi'

module KlaviyoBeta
  class OnsiteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Onsite Event
    # Create Event object (replaces /track)<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`
    # @param company_id [String] 
    # @param event_create_query [EventCreateQuery] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_onsite_event(company_id, event_create_query, opts = {})
      create_onsite_event_with_http_info(company_id, event_create_query, opts)
      nil
    end

    # Create Onsite Event
    # Create Event object (replaces /track)&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;350/s&#x60;&lt;br&gt;Steady: &#x60;3500/m&#x60;
    # @param company_id [String] 
    # @param event_create_query [EventCreateQuery] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_onsite_event_with_http_info(company_id, event_create_query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OnsiteApi.create_onsite_event ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling OnsiteApi.create_onsite_event"
      end
      # verify the required parameter 'event_create_query' is set
      if @api_client.config.client_side_validation && event_create_query.nil?
        fail ArgumentError, "Missing the required parameter 'event_create_query' when calling OnsiteApi.create_onsite_event"
      end
      # resource path
      local_var_path = '/onsite/v1/events/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = company_id

      # header parameters
      header_params = opts[:header_params] || {}
      # klaviyo api revision
      header_params['revision'] =  ENV['API_REVISION'] || "2023-05-25.pre"
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(event_create_query)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OnsiteApi.create_onsite_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OnsiteApi#create_onsite_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Onsite Profile
    # Create/Update Profiles objects (replaces /identify)<br><br>*Rate limits*:<br>Burst: `350/s`<br>Steady: `3500/m`
    # @param company_id [String] 
    # @param onsite_profile_create_query [OnsiteProfileCreateQuery] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_onsite_profile(company_id, onsite_profile_create_query, opts = {})
      create_onsite_profile_with_http_info(company_id, onsite_profile_create_query, opts)
      nil
    end

    # Create Onsite Profile
    # Create/Update Profiles objects (replaces /identify)&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;350/s&#x60;&lt;br&gt;Steady: &#x60;3500/m&#x60;
    # @param company_id [String] 
    # @param onsite_profile_create_query [OnsiteProfileCreateQuery] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_onsite_profile_with_http_info(company_id, onsite_profile_create_query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OnsiteApi.create_onsite_profile ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling OnsiteApi.create_onsite_profile"
      end
      # verify the required parameter 'onsite_profile_create_query' is set
      if @api_client.config.client_side_validation && onsite_profile_create_query.nil?
        fail ArgumentError, "Missing the required parameter 'onsite_profile_create_query' when calling OnsiteApi.create_onsite_profile"
      end
      # resource path
      local_var_path = '/onsite/v1/profiles/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = company_id

      # header parameters
      header_params = opts[:header_params] || {}
      # klaviyo api revision
      header_params['revision'] =  ENV['API_REVISION'] || "2023-05-25.pre"
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(onsite_profile_create_query)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OnsiteApi.create_onsite_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OnsiteApi#create_onsite_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Onsite Subscription
    # Create a new subscription for the given list<br><br>*Rate limits*:<br>Burst: `100/s`<br>Steady: `100/m`
    # @param company_id [String] 
    # @param onsite_subscription_create_query [OnsiteSubscriptionCreateQuery] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_onsite_subscription(company_id, onsite_subscription_create_query, opts = {})
      create_onsite_subscription_with_http_info(company_id, onsite_subscription_create_query, opts)
      nil
    end

    # Create Onsite Subscription
    # Create a new subscription for the given list&lt;br&gt;&lt;br&gt;*Rate limits*:&lt;br&gt;Burst: &#x60;100/s&#x60;&lt;br&gt;Steady: &#x60;100/m&#x60;
    # @param company_id [String] 
    # @param onsite_subscription_create_query [OnsiteSubscriptionCreateQuery] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_onsite_subscription_with_http_info(company_id, onsite_subscription_create_query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OnsiteApi.create_onsite_subscription ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling OnsiteApi.create_onsite_subscription"
      end
      # verify the required parameter 'onsite_subscription_create_query' is set
      if @api_client.config.client_side_validation && onsite_subscription_create_query.nil?
        fail ArgumentError, "Missing the required parameter 'onsite_subscription_create_query' when calling OnsiteApi.create_onsite_subscription"
      end
      # resource path
      local_var_path = '/onsite/v1/subscriptions/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'company_id'] = company_id

      # header parameters
      header_params = opts[:header_params] || {}
      # klaviyo api revision
      header_params['revision'] =  ENV['API_REVISION'] || "2023-05-25.pre"
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(onsite_subscription_create_query)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OnsiteApi.create_onsite_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OnsiteApi#create_onsite_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
